<!-- Blog Subpage -->
<section class="pt-page" data-id="blog">
  <div class="section-inner custom-page-content">
    <!-- <div class="page-header color-1">
      <h2>Blog</h2>
    </div> -->
    <div class="page-content">

      <!-- Blog Posts Grid -->
      <div class="blog-masonry two-columns">
        <!-- Blog Post start-->
        <% blog.blog.forEach(function(singleItem, index){ %>
          <%
            getBlogImageUrl = url => {
              let urlArray = url.split('upload');
              let finalUrl = urlArray[0] + 'upload/w_800,h_375' + urlArray[1];
              return finalUrl;
            };
          %>
          <div class="item">
            <div id="blog-item-<%= singleItem._id %>" class="blog-card">
              <div class="media-block">
                <a class="ajax-page-load" href="blog.html">
                  <img class="post-image img-responsive" src="<%= getBlogImageUrl(singleItem.img) %>" alt="blog post image" />
                  <div class="mask"></div>
                  <div class="post-date">
                    <% let day=singleItem.date.split('T')[0].split('-')[2] %>
                    <% let month=singleItem.date.split('T')[0].split('-')[1] %>
                    <% let year=singleItem.date.split('T')[0].split('-')[0] %>
                    <span class="day"><%= day %></span>
                    <span class="month"><%= month %></span>
                    <span class="year"><%= year %></span>
                  </div>
                </a>
              </div>
              <div class="post-info">
                <ul class="category">
                  <li>
                    <a class="ajax-page-load" href="blog.html"><%= singleItem.category.map(item => ` ${item}`) %></a>
                  </li>
                </ul>
                <a class="ajax-page-load" href="blog.html">
                  <h4 class="blog-item-title"><%= singleItem.title %></h4>
                </a>
              </div>
            </div>
          </div>
        <% }); %>
        <!-- End of Blog Post -->
      </div>
      <!-- Blog Posts Grid -->
    </div>
  </div>
</section>
<!-- /Blog Subpage -->