<!-- Portfolio Subpage -->
<section class="pt-page" data-id="portfolio">
  <div class="section-inner custom-page-content">
    <!-- <div class="page-header color-1">
      <h2>Portfolio</h2>
    </div> -->
    <div class="page-content">

      <!-- Portfolio Content -->
      <div class="portfolio-content">

        <!-- Portfolio filter -->
        <ul id="portfolio_filters" class="portfolio-filters">
            <% category.portfolio_categories.forEach(function(singleItem, index){ %>
              <% if (index === 0){ %>
                <li class="active">
                  <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
                </li>
              <% } %>
              <li>
                <a class="filter btn btn-sm btn-link" data-group="<%= singleItem %>"><%= singleItem %></a>
              </li>
            <% }); %>
        </ul>
        <!-- End of Portfolio filter -->

        <!-- Portfolio Grid -->
        <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

          <!-- Portfolio Item -->
          <% portfolio.portfolio.forEach(function(singleItem, index){ %>
            <figure id="portfolio-item-<%= index + 1 %>" class="item" data-groups='["all", <%= ...singleItem.category %>]'>
              <a class="ajax-page-load" href="portfolio.html"> <!--portfolio.html is just markup-->
                <img src="<%= singleItem.img %>" alt="<%= singleItem.name %>">
                <div>
                  <h5 class="name"><%= singleItem.name %></h5>
                  <small><%= ...singleItem.tag %></small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
          <% }); %>
          <!-- /Portfolio Item -->

        </div>
        <!-- /Portfolio Grid -->

      </div>
      <!-- /Portfolio Content -->
    </div>
  </div>
</section>
<!-- /Portfolio Subpage -->