<!-- Portfolio Subpage -->
<section class="pt-page" data-id="portfolio">
  <div class="section-inner custom-page-content">
    <!-- <div class="page-header color-1">
      <h2>Portfolio</h2>
    </div> -->
    <div class="page-content">

      <!-- Portfolio Content -->
      <div class="portfolio-content">

        <!-- Portfolio filter -->
        <ul id="portfolio_filters" class="portfolio-filters">
            <% category.portfolio_categories.forEach(function(singleItem, index){ %>
              <% if (index === 0){ %>
                <li class="active">
                  <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
                </li>
              <% } %>
              <li>
                <a class="filter btn btn-sm btn-link" data-group="<%= singleItem.split(' ').join("").toLowerCase() %>"><%= singleItem %></a>
              </li>
            <% }); %>
        </ul>
        <!-- End of Portfolio filter -->

        <!-- Portfolio Grid -->
        <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

          <!-- Portfolio Item -->
          <% portfolio.portfolio.forEach(function(singleItem, index){ %>
           <%
            getPortfolioImageUrl = url => {
              let urlArray = url.split('upload');
              let finalUrl = urlArray[0] + 'upload/w_600,h_400' + urlArray[1];
              return finalUrl;
            };
          %>
          <% let category_data_groups = singleItem.category.map((item) => `"${item.split(' ').join("").toLowerCase()}"`) %>
            <figure id="portfolio-item-<%= singleItem._id %>" class="item" data-groups='[<%- ['"all"', category_data_groups] %>]'>
              <a class="ajax-page-load" href="portfolio.html"> <!--portfolio.html is just markup-->
                <img src="<%= getPortfolioImageUrl(singleItem.img[0]) %>" alt="<%= singleItem.name %>">
                <div>
                  <h5 class="name"><%= singleItem.name %></h5>
                  <small><%= singleItem.tag.map(item => ` ${item}`) %></small>
                  <i class="fa fa-image"></i>
                </div>
              </a>
            </figure>
          <% }); %>
          <!-- /Portfolio Item -->

        </div>
        <!-- /Portfolio Grid -->

      </div>
      <!-- /Portfolio Content -->
    </div>
  </div>
</section>
<!-- /Portfolio Subpage -->