<!-- Resume Subpage -->
<section class="pt-page" data-id="resume">
  <div class="section-inner custom-page-content">
    <!--<div class="page-header color-1">
      <h2>Resume</h2>
    </div>-->
    <div class="page-content">

      <div class="row">
        <div class="block">
          <div style="margin-left: 13px;" class="block-title">
            <h3>Coding
              <span>Skills</span>
            </h3>
          </div>
          <% profile.skills.forEach(function(skill){ %>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="skills-info">                
                  <h4><%= skill.title %>  <%= skill.percentage %>%</h4>
                  <div class="skill-container">
                    <div style="width: <%= skill.percentage %>%;" class="skill-percentage skill-4"></div>
                  </div>                
              </div>          
          </div>
        <% }); %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Education</h3>
            </div>

            <div class="timeline">
              <!-- Education -->
              <% profile.education.forEach(function(education){ %>
                <div class="timeline-item">
                  <h4 class="item-title"><%= education.school %></h4>
                  <span class="item-period"><%= education.from.split("T")[0] %><% if (education.current) { %> - Current <% } else { %> <% if (education.to) { %> - <%= education.to.split("T")[0] %> <% } %> <% } %></span>
                  <span class="item-small"><%= education.degree %></span>
                  <span class="item-small"><%= education.fieldofstudy %></span>
                  <p class="item-description"><%= education.description %></p>
                </div>
              <% }); %>
              <!-- / Education -->
            </div>

          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Experience</h3>
            </div>

            <div class="timeline">
              <!-- Experience -->              
              <% profile.experience.forEach(function(experience){ %>
                <div class="timeline-item">
                  <h4 class="item-title"><%= experience.title %></h4>
                  <span class="item-period"><%= experience.from.split("T")[0] %><% if (experience.current) { %> - Current <% } else { %> <% if (experience.to) { %> - <%= experience.to.split("T")[0] %> <% } %> <% } %></span>
                  <span class="item-small"><%= experience.company %></span>
                  <span class="item-small"><%= experience.location %></span>
                  <p class="item-description"><%= experience.description %></p>
                </div>
              <% }); %>
              <!-- / Experience -->
            </div>

          </div>
        </div>
      </div>

      <!-- courses -->
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Course</h3>
            </div>

            <div class="timeline">
              <!-- courses -->
              <% profile.courses.forEach(function(courses){ %>
                <div class="timeline-item">
                  <h4 class="item-title"><%= courses.title %></h4>
                  <span class="item-period"><%= courses.from.split("T")[0] %><% if (courses.current) { %> - Current <% } else { %> <% if (courses.to) { %> - <%= courses.to.split("T")[0] %> <% } %> <% } %></span>
                  <span class="item-small"><%= courses.who_give %></span>
                  <p class="item-description"><%= courses.description %></p>
                </div>
              <% }); %>
              <!-- / courses -->
            </div>

          </div>
        </div>

      </div>

      <!-- Download Resume Button -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="block">
            <div class="center download-resume">
              <a target="_blank" href="<%= profile.resume_link %>" class="btn btn-secondary">Download Resume</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Download Resume Button -->

    </div>
  </div>
</section>
<!-- End of Resume Subpage -->