<!-- Services Subpage -->
<section class="pt-page" data-id="services">
  <div class="section-inner custom-page-content">
    <!-- <div class="page-header color-1">
      <h2>Services</h2>
    </div> -->
    <div class="page-content">
      <!-- My Services -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="block-title">
            <h3>My
              <span>Services</span>
            </h3>
          </div>
        </div>

         <% profile.what_i_do.forEach(function(singleItem){ %>
          <div class="col-sm-6 col-md-3">
            <div class="service-block">
              <div class="service-info">
                <%
                  getServiceImageUrl = url => {
                    let urlArray = url.split('upload');
                    let finalUrl = urlArray[0] + 'upload/w_148,h_148' + urlArray[1];
                    return finalUrl;
                  };
                %>
                <div class="service-image">
                  <img src="<%= getServiceImageUrl(singleItem.img) %>" alt="My Services" class="mCS_img_loaded">
                </div>
                <h4><%= singleItem.title %></h4>
                <p><%= singleItem.info %></p>
              </div>
            </div>
          </div>
        <% }); %>

        

      </div>
      <!-- End of My Services -->

      <!-- Clients -->
      <!-- <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="block-title">
            <h3>Clients</h3>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_1.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_2.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_3.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_4.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_5.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

          <div class="col-sm-4 col-md-2 subpage-block">
            <div class="client-block">
              <a href="#" target="_blank">
                <img src="images/clients/client_6.png" alt="image" class="mCS_img_loaded">
              </a>
            </div>
          </div>

        </div>
      </div> -->
      <!-- End of Clients -->

      <!-- Testimonials -->
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="block-title">
            <h3>Testimonials</h3>
          </div>


          <div class="testimonials owl-carousel block">
            <!-- Testimonial -->

             <% profile.testimonials.forEach(function(singleItem){ %>
                <div class="testimonial-item">
                  <!-- Testimonial Author -->
                  <div class="testimonial-credits">
                    <!-- Picture -->
                    <%
                      getTestimonialImageUrl = url => {
                        let urlArray = url.split('upload');
                        let finalUrl = urlArray[0] + 'upload/w_200,h_200' + urlArray[1];
                        return finalUrl;
                      };
                    %>
                    <div class="testimonial-picture">
                      <img src="<%= getTestimonialImageUrl(singleItem.img) %>" alt="">
                    </div>
                    <!-- /Picture -->
                    <!-- Testimonial author information -->
                    <div class="testimonial-author-info">
                      <p class="testimonial-author"><%= singleItem.name %></p>
                      <p class="testimonial-firm"><%= singleItem.job %></p>
                    </div>
                  </div>
                  <!-- /Testimonial author information -->
                  <!-- Testimonial Content -->
                  <div class="testimonial-content">
                    <div class="testimonial-text">
                      <p>"<%= singleItem.testimonial %>"</p>
                    </div>
                  </div>
                  <!-- /Testimonial Content -->
                </div>
              <% }); %>
            
            <!-- End of Testimonial -->

          </div>
        </div>
      </div>
      <!-- End of Tesimonials -->

      <!-- Pricing -->
      <!-- <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="block-title">
            <h3>Pricing</h3>
          </div>

          <div class="lm-pricing row clearfix">
            <div class="lm-package-wrap col-md-4 default-col">
              <div class="lm-package">
                <div class="lm-heading-row">
                  <span>Plan 1</span>
                </div>
                <div class="lm-pricing-row">
                  <span>$64</span>
                  <small>per month</small>
                </div>

                <div class="lm-button-row">
                  <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                </div>
                <div class="lm-default-row">
                  Lorem ipsum dolor
                </div>
                <div class="lm-default-row">
                  Pellentesque scelerisque
                </div>
                <div class="lm-default-row">
                  Morbi eu sagittis
                </div>
                <div class="lm-default-row">
                </div>
              </div>
            </div>

            <div class="lm-package-wrap col-md-4 highlight-col ">
              <div class="lm-package">
                <div class="lm-heading-row">
                  <span>Plan 2</span>
                </div>
                <div class="lm-pricing-row">
                  <span>$128</span>
                  <small>per month</small>
                </div>

                <div class="lm-button-row">
                  <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                </div>
                <div class="lm-default-row">
                  Lorem ipsum dolor
                </div>
                <div class="lm-default-row">
                  Pellentesque scelerisque
                </div>
                <div class="lm-default-row">
                  Morbi eu sagittis
                </div>
                <div class="lm-default-row">
                  Donec non diam
                </div>
                <div class="lm-default-row">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End of Pricing -->
    </div>
  </div>
</section>
<!-- End of Services Subpage -->