<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= profile.full_name.split(" ")[0] %> Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="<%= profile.full_name %>, Hard working and friendly individual enjoys communicating with others. Searching for a challenging new role where skills and knowledge can be applied." />
  <meta name="keywords" content="vcard, resume, CV, portfolio, <%= profile.full_name.split(" ")[0] %>, <%= profile.full_name %>" />
  <meta name="author" content="<%= profile.full_name.split(" ")[0] %>" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/animate.css" type="text/css">
  <link rel="stylesheet" href="css/transition-animations.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/main-green.css" type="text/css">
  <!-- Font Awesome -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
  <!-- /Font Awesome -->
  <!-- material-design-iconic-font -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> -->
  <!-- /material-design-iconic-font -->
  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <!-- Place Code for google analytics -->
</head>
